<div>
  <button class="btn btn-outline-secondary m-1" type="button" (click)="showModal()">
    Show Modal
  </button>

  <button class="btn btn-outline-secondary m-1" type="button" (click)="showBottom()">
    Show Docked Bottom
  </button>

  <button class="btn btn-outline-secondary m-1" type="button" (click)="showLeft()">
    Show Docked Left
  </button>

  <button class="btn btn-outline-secondary m-1" type="button" (click)="showTop()">
    Show Docked Top
  </button>

  <button class="btn btn-outline-secondary m-1" type="button" (click)="showRight()">
    Show Docked Right
  </button>
</div>

<div>
  <button class="btn btn-outline-secondary m-1" type="button" (click)="showWithResult()">
    Show Form
  </button>

  <p class="ms-3">Your name is: <span class="font-weight-bold">{{person?.firstName}} {{person?.lastName}}</span></p>
</div>

<div>
  <button class="btn btn-outline-secondary m-1" type="button" (click)="showLongContent()">
    Show Modal with Long Text
  </button>
</div>